<h1>Admin Dashboard</h1>

<div>
<div class="column">
  <div class="col-sm-6 col-md-4">
      <div class="caption">
        <h2>Categories: <%= @categories.count %></h2>
        <p> <% @categories.each do |category| %>
            <%= link_to category.name, category, :class => "btn btn-info" %>
          <% end %>
        </p>
    </div>
    <%= link_to 'All Categories', [:admin, :categories], :class => "btn btn-primary" %>
  </div>
</div>

<div class="column">
  <div class="col-sm-6 col-md-4">
      <div class="caption">
        <h2>Products: <%= @products.count %></h2>
        <%= link_to 'All Products', [:admin, :products], :class => "btn btn-primary" %>
    </div>
  </div>
</div>
</div>

